
                <h1>Why Should I Use PeWe Proxy?</h1>

              
                <div id="carousel">
                    <div id="slides">
                        <ul class="slideList">
                                <li class="slide">
                                    <div class="slideInnerBox" id="socialProxy">
                                        <%= image_tag("/images/discussionShot.png") %>
                                        <div class="textContent">
                                            <h2>PeWe Proxy is <span>social</span></h2>
                                            PeWe Proxy provides you services which brings you closer to other web users
                                            <ul>
                                                <li>share information with other PeWe Proxy users</li>
                                                <li>watch the most popular pages</li>
                                            </ul>
                                            <a class="moreAbout" href="<%=url_for(:controller => :index, :action => :about)%>">
                                              <span>Learn more</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="slide">
                                    <div class="slideInnerBox" id="socialProxy">
                                        <%= image_tag("/images/keywordsShot.png") %>
                                        <div class="textContent">
                                            <h2>PeWe Proxy <span>knows</span> you</h2>
                                            PeWe Proxy uses some very modern technology, so it can
                                            <ul>
                                                <li>learn what pages you visit are about</li>
                                                <li>optimize search results according to your interests</li>
                                            </ul>
                                            <a class="moreAbout" href="<%=url_for(:controller => :index, :action => :about)%>">
                                              <span>Learn more</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                               <li class="slide">
                                    <div class="slideInnerBox" id="socialProxy">
                                        <%= image_tag("/images/settingsShot.png") %>
                                        <div class="textContent">
                                            <h2>PeWe Proxy is <span>configurable</span></h2>
                                            PeWe Proxy provides lot of functionality which can be
                                            <ul>
                                                <li>easily turned off and on from your browser</li>
                                                <li>configured for your particular needs</li>
                                            </ul>
                                            <a class="moreAbout" href="<%=url_for(:controller => :index, :action => :about)%>">
                                              <span>Learn more</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="slide">
                                    <div class="slideInnerBox" id="socialProxy">
                                        <%= image_tag("/images/searchGoalShot.png") %>
                                        <div class="textContent">
                                            <h2>PeWe Proxy supports <span>research</span></h2>
                                            PeWe Proxy is very flexible tool for gaining research data about users'
                                            behavior on the web. Also you can  participate in many interesting research
                                            projects.
                                            <ul></ul>
                                            <a class="moreAbout" href="<%=url_for(:controller => :index, :action => :about)%>">
                                              <span>Learn more</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                        </ul>
                        <div class="floatCleaner"></div>
                    </div>
                    <a href="#" id="prev"><%= image_tag("/images/carouselLeftArrow.png") %></a>
                    <a href="#" id="next"><%= image_tag("/images/carouselRightArrow.png") %></a>
                </div>





                <div class="middleBox aboutProxy">
                    <h2>PeWe Proxy is...</h2>
                    <div class="contentBlockWide">
                        <div class="fastProxy">
                            <h3>Fast</h3>
                            <ul>
                                <li>the content you are searching for is our priority</li>
                                <li>page data is sent to you as quickly as possible; every other web-enhancing action is performed on the background long after your browser receive the data  </li>
                                <li>we compress pages sent to you to decrease amount of transmitted data</li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="halfSizeBlock contentBlockRight openProxy">
                            <div>
                                <h3>World-Open</h3>
                                <p>PeWe Proxy is open-source project, so also you can become a contributor.</p>
                                <ul>
                                    <li>Are you interested in contribution? Please, read <a href="#">this</a> section.</li>
                                    <li>Browse or download source code from the <a href="#">repository</a>.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="halfSizeBlock contentBlockLeft compatibleProxy">
                            <div>
                                <h3>Compatible</h3>
                                <p>We optimized PeWe Proxy so it works flawlessly in any browser</p>
                                <ul>
                                    <li class="firstItem"><%= image_tag("/images/firefoxLogo.png") %></li>
                                    <li><%= image_tag("/images/chromeLogo.png") %></li>
                                    <li><%= image_tag("/images/ieLogo.png") %></li>
                                    <li><%= image_tag("/images/operaLogo.png") %></li>
                                    <li><%= image_tag("/images/safariLogo.png") %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="halfSizeBlock contentBlockRight easyProxy">
                            <div>
                                <h3>Easy to use</h3>
                                <p>Virtually anyone can use PeWe proxy. The user interface is clear and intuitive.</p>
                                <p class="shortBlock">Try yourself and <a href="#">start using PeWe Proxy</a> right now!</p>
                            </div>
                        </div>
                        <div class="halfSizeBlock contentBlockLeft distributedProxy">
                            <div>
                                <h3>Distributed = Reliable</h3>
                                <p>PeWe Proxy is not one server, is a large distributed system. The servers are in different locations, so you don't have to worry about the availability of service. In case of breakdown of particular server, the others will take care of your requests.</p>
                            </div>
                        </div>
                    </div>
                    <br class="floatCleaner" />
                </div>
                <h2>How does it work?</h2>
                <div id="proxySchemaBox"><%= image_tag("/images/proxySchema.png") %></div>

                <h2 id="finalMoto"><span>PeWe Proxy</span> will <span>enhance</span>, <span>enrich</span> the page<br />and a lot more!</h2>