
<%= render :template => 'layouts/user_menu' %>

<h1>Nahlásenie nefunkčného webu</h1>
<div class="broken_page_report">
  <%= form_tag(:action=>"create") do %>
  <table style="width: 800px">
    <tr>
      <td class="label"><%= label_tag(:url, "URL:") %></td>
      <td><%= text_field_tag(:url) %>*</td>
    </tr>
    <tr>
      <td class="label"><%= label_tag(:email, "Váš e-mail:") %></td>
      <td><%= text_field_tag(:email, '@') %> Ak nám necháte svoju adresu, budeme vás informovať o stave problému</td>
    </tr>
    <tr>
      <td class="label"><%= label_tag(:post_description, "Opis problému:") %></td>
      <td><%= text_area(:post, :description, :cols => 50, :rows => 3) %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= submit_tag("Nahlástiť nefunkčný web", :class => 'submit') %>
      </td>
    </tr>
  </table>
	
  <% end %>
</div>

<h2>Zoznam problémov</h2>
<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Dátum pridania</th>
      <th>URL</th>
      <th>Popis</th>
      <th>Stav</th>
    </tr>
  <% BrokenPages.order('timestamp DESC').all.each do |page| %>
    <tr>
      <td><%=page.id%></td>
      <td><%=page.timestamp.to_s(:long)%></td>
      <td><%=page.url%></td>
      <td><%=page.description%></td>
      <td><%=get_status_text(page.status)%></td>
    </tr>
  <% end %>
  </table>
</div>