<div class="accountMenu">
  <%= render :template => 'layouts/user_menu' %>

  <div class="contentWrapper">

	<div class="topEmptySpace"></div>
	<div class="content">
	  
          <h4>Presun ID na iný počítač</h4>
          <div style="padding: 0 0 50px 0">
            <p>
              Pri nastavovaní proxy sme ti vygenerovali jedinečný UID kód, aby
              sme ťa vedeli identifokovať. Ak by si chcel používať proxy server
              aj na inom počítači, je pre nás dôležité, aby si všade používal
              rovnaké ID.
            </p>
            <br/>

            <p>
              Tvoje aktuálne UID: <em class="uid"><%= @uid %></em>
            </p>
            <br/>

            <p>
              Aby si toto UID nemusel pamätať, môžeš si ho tu uložiť pod nejakým
              kódom a neskôr stiahnuť.
            </p>

            <h5>Chcem si uložiť svoje UID</h5>

            <%= form_tag(:action=>"store") do %>
              <p>
                <%= label_tag(:identifier, "Tvoj kód (napríklad tvoje meno)") %>
                <%= text_field_tag(:identifier) %>
              </p>
              <p>
                <%= submit_tag("Ulož", :class => 'submit') %>
              </p>
            <% end %>

            <h5>ID mám už uložené, chcem ho používať na tomto PC.</h5>

            <%= form_tag(:action => "retrieve_uid") do %>
              <p>
                <%= label_tag(:identifier, "Tvoj kód") %>
                <%= text_field_tag(:identifier) %>
              </p>
              <p>
                <%= label_tag(:leave_uid, "Nemaž môj kód, ešte si chcem nastaviť proxy na inom PC") %>
                <%= check_box_tag :leave_uid, "1", false %>
              </p>
              <p>
                <%= submit_tag 'Nastav mi môj identifikátor', :class => 'submit'%>
              </p>
            <% end %>



          </div>

          <!--
          <div style="padding: 50px 0 50px 0">

		<%= form_tag(:action=>"create") do %>
		  <table>
			<tr>
			  <td class="label"><%= label_tag(:url, "URL:") %></td>
			  <td><%= text_field_tag(:url) %>*</td>
			</tr>
			<tr>
			  <td class="label"><%= label_tag(:email, t(:your_email)) %></td>
			  <td><%= text_field_tag(:email, '@') %> <%= t(:if_you_provide_your_address) %></td>
			</tr>
			<tr>
			  <td class="label"><%= label_tag(:post_description, t(:problem_description)) %></td>
			  <td><%= text_area(:post, :description, :cols => 50, :rows => 3) %></td>
			</tr>
			<tr>
			  <td colspan="2">
				<%= submit_tag(t(:report_broken_page), :class => 'submit') %>
			  </td>
			</tr>
		  </table>

		<% end %>
	  </div>
          -->

	</div>
	<div class="bottomEmptySpace"></div>
  </div>
  <br class="floatCleaner" />
</div>