<div class="accountMenu">
  <%= render :template => 'layouts/user_menu' %>

  <div class="contentWrapper">

	<div class="topEmptySpace"></div>
	<div class="content">
	  
          <h4><%=t(:move_uid_heading)%></h4>
          <div>
            <p><%=t(:move_intro)%></p>
            <br/>

            <p><%=t(:your_current_uid)%> <em class="uid"><%= @uid %></em></p>
            <br/>

            <p><%=t(:you_can_save_this)%></p>
            <br/>

            <h5><%=t(:i_want_to_store_my_uid)%></h5>
            <%= form_tag(:action=>"store") do %>
              <p>
                <%= label_tag(:identifier, t(:your_code_name_for_example)) %>
                <%= text_field_tag(:identifier) %>
              </p>
              <p>
                <%= submit_tag(t(:store), :class => 'submit') %>
              </p>
            <% end %>
            <br/>
            
            <h5><%=t(:my_uid_already_stored)%></h5>
            <%= form_tag(:action => "retrieve_uid") do %>
              <p>
                <%= label_tag(:identifier, t(:your_code)) %>
                <%= text_field_tag(:identifier) %>
              </p>
              <p>
                <%= label_tag(:leave_uid, t(:dont_remove)) %>
                <%= check_box_tag :leave_uid, "1", false %>
              </p>
              <p>
                <%= submit_tag t(:set_me_my_uid), :class => 'submit'%>
              </p>
            <% end %>

          </div>

	</div>
	<div class="bottomEmptySpace"></div>
  </div>
  <br class="floatCleaner" />
</div>