<div class="accountMenu">
  <%= render :template => 'layouts/user_menu' %>

  <div class="contentWrapper">

	<div class="topEmptySpace"></div>
	<div class="content">
	  <script type="text/javascript">
	// <![CDATA[
	function check_all(sender, checkboxes){
	  for (i = 0; i < checkboxes.length; i++){
		checkboxes[i].checked=sender.checked
	  }
	}
	// ]]>
	  </script>

	  <%unless @logs.nil? || @logs.empty?%>

		<%= form_tag({ :action => "delete_many"}, {:name => "delete_many_form"}) do %>
		  <table id="logs" border="1">
			<thead>
			  <tr>
				<th class="url">URL</th>
				<th class="timestamp"><%=t(:when)%></th>
				<th class="delete"><input type="checkbox" id="multiple_select" onclick="check_all(this, document.delete_many_form.for_deletion_)" /></th>
			  </tr>
			</thead>
			<tbody>
			  <%= render :partial => 'log_lines' %>
			</tbody>
		  </table>

		  <div style="text-align: right; margin-top: 10px">
			<%= submit_tag(t(:delete_selected)) %>
		  </div>
		<% end %>

		<div id="more">
		  <%= render :partial => 'link_to_more' %>
		</div>

	  <%else%>
		<div class="nologs">
		  <%=t(:no_records)%>
		</div>
	  <%end%>
	</div>
	<div class="bottomEmptySpace"></div>
  </div>
  <br class="floatCleaner" />
</div>