<!DOCTYPE html>
<html>
<head>
  <title>ProxyWeb</title>
  <%= stylesheet_link_tag    "style" %>
  <%= javascript_include_tag "carouselControler" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="pageBackground">
    <div class="pageWrapper">
        <div id="page">
            <div id="header">
                <div class="headerProxyButton">
					<% if @uid %>
					.. používam proxy, som happy ..
					<% else %>
					<script type="text/javascript">
					  // <![CDATA[
					  var ec = new evercookie();
					  // ]]>
					</script>
					<a class="useProxyButton" href="#" onclick="ec.set('__peweproxy_uid','<%=@uid_new%>'); location.href='<%=url_for(:controller => :index, :action => :browsers_setup)%>'; return false">
					  <span class="textWrapper">Chcem používať PeWe Proxy</span>
					</a>
					<% end %>
                </div>
                <%= link_to image_tag("/images/proxyLogo.png"), :root, :id => :proxyLogo %>
                <div id="headerMenu">
                    <ul>
                        <li class="firstItem<% if request.path_parameters[:action] == 'intro' %> selected<% end %>"><%= link_to "PeweProxy", :root %></li>
                        <li<% if request.path_parameters[:action] == 'about' %> class="selected"<% end %>><%= link_to "O projekte", {:controller => :index, :action => :about} %></li>
                        <li<% if request.path_parameters[:action] == 'privacy' %> class="selected"<% end %>><%= link_to "Súkromie", :controller => :index, :action => :privacy %></li>
                        <li<% if request.path_parameters[:action] == 'faq' %> class="selected"<% end %>><%= link_to "Časté otázky", :controller => :index, :action => :faq %></li>
                        <li<% if request.path_parameters[:action] == 'contribute' %> class="selected"<% end %>><%= link_to "Chcem pomôcť", :controller => :index, :action => :contribute %></li>
                    </ul>
					<% if @uid %>
					<ul class="userMenu">
						<li<% if 
							  request.path_parameters[:controller] == 'logs' or
							  request.path_parameters[:controller] == 'broken_page_reporter' or
							  request.path_parameters[:controller] == 'move_uid' or
							  request.path_parameters[:controller] == 'remove_uid'
						  %> class="selected"<% end %>><%= link_to "Vaše konto", :controller => :logs, :action => :list %></li>
					</ul>
					<% end %>
                </div>
            </div>

            <div class="pageBody">

<%= yield %>
			  
			</div>
        </div>

        <div id="footer">
            <div class="copyright">
                ©2011<br />
                <br />
                webdesign by i<br />
                web by team 13
            </div>
            <div class="fiitAddress">
                <%= image_tag("/images/fiitLogoOrange.png") %>
                <div>
                    <p class="address">
                        projekt je vyvíjaný pod záštitou FIIT STU <br />
                        Ilkovičova 3, <br />
                        842 16 Bratislava 4
                    </p>
                    <p class="url">
                        www.fiit.stuba.sk
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>
