<!DOCTYPE html>
<html>
  <head>
	<title>ProxyWeb</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "carouselControler" %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag %>
  </head>
  <body>

	<div class="pageBackground">
	  <div class="pageWrapper">
        <div id="page">
		  <div id="header">
			<div class="languages">
            <%= link_to image_tag("/images/sk.png"), :locale => :sk %>
            <%= link_to image_tag("/images/en.png"), :locale => :en %>
			</div>
			<div class="headerProxyButton">
			  <% if @uid %>
				<% if request.env['HTTP_VIA'] =~ /AdaptiveProxy/ %>
				  <span class="useProxyButton">
					<span class="textWrapper"><%= t(:U_R_surfing_via_Pewe_Proxy) %></span>
				  </span>
				<% else %>
				  <a class="useProxyButton" href="<%=url_for(:controller => :index, :action => :browsers_setup)%>">
					<span class="textWrapper"><%= t(:finish_proxy_setting) %> </span>
				  </a>
				<% end  %>
			  <% else %>
				<script type="text/javascript">
				// <![CDATA[

				function dots() {
				  var dots_string = $('span.dots').html();
				  if ($('span.dots').html() != "...") {
					$('span.dots').html(dots_string+".");
				  } else {
				$('span.dots').html("");
				  }
				}

				function useProxy(){
				  $('a.useProxyButton span.textWrapper').html("<%= t(:generating_identifier) %><span class=\"dots\"></span>");

				  setInterval("dots()",500);

				  var ec = new evercookie();
				  ec.get('__peweproxy_uid', function(uid) {
					if (uid == 'null' || uid == null || uid == '' || typeof(uid) == 'undefined') {
					    ec.set('__peweproxy_uid', '<%=@uid_new%>');
					}
					location.href='<%=url_for(:controller => :index, :action => :browsers_setup)%>';
				  });
				}
				// ]]>
				</script>
				<a class="useProxyButton" href="#" onclick="useProxy(); return false">
				  <span class="textWrapper"><%= t(:wanna_use_PeWe_Proxy) %></span>
				</a>
			  <% end %>
			</div>
			<%= link_to image_tag("/images/proxyLogo.png"), :root, :id => :proxyLogo %>
			<div id="headerMenu">
			  <ul>
				<%=nav_link t(:PeWeProxy), :root, true%>
				<%=nav_link t(:about_project), {:controller => :index, :action => :about}%>
				<%=nav_link t(:faq), {:controller => :index, :action => :faq}%>
				<%=nav_link t(:contribute), {:controller => :index, :action => :contribute}%>
			  </ul>
			  <% if @uid %>
				<ul class="userMenu">
				  <li<% if current_page?(:controller => :logs, :action => :list) or current_page?(:controller => :broken_page_reporter, :action => :report) or
						current_page?(:controller => :move_uid, :action => :move) or current_page?(:controller => :remove_uid, :action => :remove)
					%> class="selected"<% end %>><%= link_to t(:your_account), :controller => :logs, :action => :list %></li>
				</ul>
			  <% end %>
			</div>
		  </div>

		  <div class="pageBody">
			<% if flash[:notice] %>
			  <p class="notice"><%= flash[:notice] %></p>
			<% end %>
			<% if flash[:error] %>
			  <p class="error"><%= flash[:error] %></p>
			<% end %>

			<%= yield %>

		  </div>
        </div>

        <div id="footer">
		  <div class="copyright">
			&copy; 2011-<%= Time.new.year %><br />
			<br />
			webdesign by <a href="http://iwan.yweb.sk/">i</a><br />
			web by <a href="http://labss2.fiit.stuba.sk/TeamProject/2010/team13is-si/index.html">team 13</a>
		  </div>
		  <div class="fiitAddress">
			<a href="http://www.fiit.stuba.sk/"><%= image_tag("/images/fiitLogoOrange.png") %></a>
			<div>
			  <p class="address">
				<%= t(:this_project_takes_place_at_FIIT_STU)%> <br />
				Ilkovičova 3, <br />
				<%= t(:Bratislava_4)%>
			  </p>
			  <p class="url">
				<a href="http://www.fiit.stuba.sk/">www.fiit.stuba.sk</a>
			  </p>
			</div>
		  </div>
        </div>

	  </div>
	</div>


  </body>
</html>
